<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../Css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <title>Mi Sitio</title>
</head>

<body>
  <header>
    <div class="logo-header">
      <img src="../img/logo-lambo.png" alt="">
    </div>
    <h1>AUTOMATIC</h1>
    <nav class="nav-menu">
      <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="#">Quienes somos</a></li>
        <li><a href="./comprar.html">Comprar</a></li>
        <li><a href="./autos.html">Autos</a></li>
        <li><a href="./contacto.html">Contacto</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section id="quienes-somos">
      <h2>QUIENES SOMOS </h2>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="../img/quienjoy.jpg" alt="Imagen de quiénes somos">
          </div>
          <div class="col-md-6">
            <p>Somos una empresa líder en la venta de vehículos, con más de 10 años de experiencia en el mercado.
              Nuestro objetivo es brindar a nuestros clientes la mejor experiencia de compra y venta de vehículos.</p>
            <p>Nuestro equipo está compuesto por profesionales altamente capacitados y experimentados en la industria
              automotriz. Estamos comprometidos con la calidad y la satisfacción de nuestros clientes.</p>
            <p>En nuestra empresa, nos enfocamos en brindar un servicio personalizado y atención al cliente de alta
              calidad. Estamos aquí para ayudarte a encontrar el vehículo perfecto para ti.</p>
          </div>
        </div>
      </div>
      <div class="mision-vision">
        <h3>Misión</h3>
        <p>Nuestra misión es brindar a nuestros clientes la mejor experiencia de compra y venta de vehículos, ofreciendo
          una amplia variedad de opciones y un servicio personalizado de alta calidad.</p>
        <h3>Visión</h3>
        <p>Nuestra visión es ser la empresa líder en la venta de vehículos en el mercado, conocida por nuestra calidad,
          servicio y compromiso con la satisfacción de nuestros clientes.</p>
      </div>
    </section>
  </main>

  <section id="contacto">
    <h2>Contáctanos</h2>
    <p>Teléfono: 3811234567 <br>
      Correo electrónico: automatic@gmail.com <br>
      Dirección: San miguel de Tucuman</p>
    <section class="redes">
      <img src="../img/face.png" alt="">
      <img src="../img/insta.png" alt="">
      <img src="../img/wp.png" alt="">
    </section>

  </section>

  <footer>
    <p>AUTOMATIC VENTA DE VEHICULOS</p>
  </footer>

</body>

</html>